<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>playlistDiscovery</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2356323c8f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="home.css"></link>
  <link rel="stylesheet" href="theme.css"></link>
</head>

<body>
  <div class="home_page">
    <div class="section_intro container">

      <div data-aos="fade-up" class="row">
        <img src="default.png" class="logo img-rounded img-responsive center-block" ></img>
      </div>

      <div data-aos="fade-up" class="row">
        <h1 class="title-h1 text-white font-weight-bold">LISTEN TO PLAYLISTS</h1>
      </div>
      <div data-aos="fade-up" class="row">
        <h3 class="title-h3 text-white"><span class="font-weight-bold">playlistDiscovery</span> lets you play & discover new musics.</h3>
      </div>

      <div data-aos="fade-up" class="row row_login">
        <div class="col-md-4 section_button_login">
          <a href="/auth/spotify" type="button" class="btn-login btn btn-primary btn-lg btn-block font-weight-bold">LOG WITH SPOTIFY</a>
        </div>
      </div>

      <div class="row first_row">
        <div data-aos="fade-up" class="col-md-5">
          <h3 class="text-white font-weight-bold">POWERED BY SPOTIFY<img src="spotify.png" class="img_spotify"></img></h3>
          <p class="text-white">Your interface for music discovery</p>
          <p class="text-white"><span class="font-weight-bold">playlistDiscovery</span> hooks into your Spotify account and is 100% free to use. Give it a try and start disover new musics.</p>
        </div>
        <div data-aos="fade-up" class="col-md-7">
          <img class="img_1" src="media_player.svg"></img>
        </div>
      </div>

      <div class="row second_row">
        <div data-aos="fade-up" class="col-md-7">
          <img src="playlist_example2.png"></img>
        </div>
        <div data-aos="fade-up" class="col-text col-md-5">
          <h3 class="text-white font-weight-bold">VOTE SYSTEM<i class="logo_thumbs far fa-thumbs-up"></i></h3>
          <p class="text-white">When listening you have the power to vote on the currently playing playlist. Cheer for the playlist you love.</p>
        </div>
      </div>

      <div class="row third_row">
        <div data-aos="fade-up" class="col-text col-md-5">
          <h3 class="text-white font-weight-bold">SEE WHAT'S TRENDING<i class="logo_thumbs fas fa-signal"></i></h3>
          <p class="text-white">Love stats as much as you love music? You can get a pulse on everything by checking out our User Leaderboards and Top Playlists pages.</p>
        </div>
        <div data-aos="fade-up" class="col-md-7">
          <img class="trending" src="trending.png"></img>
        </div>
      </div>

      <div class="row fourth_row">
        <div data-aos="fade-up" class="col-md-7">
          <img class="chat" src="chat.svg"></img>
        </div>
        <div data-aos="fade-up" class="col-text col-md-5">
          <h3 class="text-white font-weight-bold">SHARE YOUR OPINION<i class="logo_thumbs far fa-comment"></i></h3>
          <p class="text-white">Chat with the community or learn some fun facts about new musics.</p>
        </div>
      </div>

      <div class="row fifth_row">
        <div data-aos="fade-up" class="col-md-4 section_button_login">
          <h3 class="start_now text-white font-weight-bold text-center">START NOW</h3>
          <a href="/auth/spotify" type="button" class="btn-login btn btn-primary btn-lg btn-block font-weight-bold">LOG WITH SPOTIFY</a>
        </div>
      </div>


      <div class="footer">
        <div class="row sixth_row">
          <div class="col-md-2">
            <h5 class="text-white text-center"><a>Home</a></h5>
          </div>
          <div class="col-md-3">
            <h5 class="text-white  text-center"><a>Playlists</a></h5>
          </div>
          <div class="col-md-2">
            <h5 class="text-white text-center"><a>Top playlists</a></h5>
          </div>
          <div class="col-md-3">
            <h5 class="text-white text-center"><a>Top users</a></h5>
          </div>
          <div class="col-md-2">
            <h5 class="text-white text-center"><a>Chat</a></h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="made text-white text-center">Made by <a><strong>imerzi</strong></a></p>
          </div>
        </div>

      </div>
  </div>
</div>







  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
