<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>playlistDiscovery</title>
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2356323c8f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="playlist_discover.css">
    </link>
    <link rel="stylesheet" href="theme.css">
    </link>
</head>

<body>

    <div class="page">
        <%- include('header'); -%>
        <div class="container">

            <div class="row">
                    <% if (lists) { %>
                    <% lists.forEach(function(item){ %>
                    <div class="col">

                    <div class="card text-white bg-primary" style="width: 20rem;">
                        <div class="card-body">
                          <p class="card-text">
                              <iframe src="https://open.spotify.com/embed/playlist/<%= item.playlistId %>" width="300"
                            height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                          <a href="#" class="card-link"><i class="logo_thumbs fas fa-thumbs-up"></i></a>
                          <a href="#" class="card-link"><i class="logo_thumbs fas fa-thumbs-down"></i></a>
                      </div>
                    </div>
                    </div>
                    <% }) %>
                    <% } %>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        window.addEventListener('scroll', function (e) {
            var nav = document.getElementById('nav');
            if (document.documentElement.scrollTop || document.body.scrollTop > window.innerHeight) {
                nav.classList.remove('nav-transparent');
                nav.classList.add('nav-colored');
            } else {
                nav.classList.remove('nav-colored');
                nav.classList.add('nav-transparent');
            }
        });
    </script>
</body>

</html>